# eclipse user files
.metadata
.recommenders

# lejos build files
*.nxd
*.nxj

# log files
*.log
*.csv

# dat files
*.dat

*/bin

# WebStorm IDE files:
*/MindCuber_Website.iml
*MindCuber_Website/.idea/modules.xml
*MindCuber_Website/.idea/workspace.xml
*MindCuber_Website/.idea/*
