<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.nxt.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MindCuber_NXT/src/nxt/NxtApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nxt.NxtApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MindCuber_NXT"/>
<booleanAttribute key="org.lejos.nxt.ldt.ConnectToAddress" value="false"/>
<booleanAttribute key="org.lejos.nxt.ldt.ConnectToName" value="false"/>
<stringAttribute key="org.lejos.nxt.ldt.ConnectionAddress" value=""/>
<stringAttribute key="org.lejos.nxt.ldt.ConnectionName" value=""/>
<stringAttribute key="org.lejos.nxt.ldt.connectionType" value="ub"/>
<booleanAttribute key="org.lejos.nxt.ldt.connectionUseDefaults" value="true"/>
<booleanAttribute key="org.lejos.nxt.ldt.debug.linkVerbose" value="false"/>
<stringAttribute key="org.lejos.nxt.ldt.debug.monitorType" value="normal"/>
<booleanAttribute key="org.lejos.nxt.ldt.debug.runAfterDownload" value="true"/>
<booleanAttribute key="org.lejos.nxt.ldt.debug.startConsole" value="false"/>
<booleanAttribute key="org.lejos.nxt.ldt.debug.useDefaults" value="true"/>
<booleanAttribute key="org.lejos.nxt.ldt.run.linkVerbose" value="false"/>
<booleanAttribute key="org.lejos.nxt.ldt.run.runAfterDownload" value="true"/>
<booleanAttribute key="org.lejos.nxt.ldt.run.startConsole" value="false"/>
<booleanAttribute key="org.lejos.nxt.ldt.run.useDefaults" value="true"/>
</launchConfiguration>
